* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cube-fields {
	width: 368px;
	margin: auto;
	overflow: hidden;
	display: flex;

	flex-wrap: wrap;

}



.side {
	width: 180px;
	height: 180px;
	border: 1px solid #000;
	margin: 2px;
	float: left;
}

.side-1 {

	order: 1;
}

.side-2 {

	order: 4;
}

.side-3 {
	order: 3;
}

.side-4 {
	order: 2;
}

.side-5 {
	order: 5;
}

.side-6 {
	order: 6;
}


@keyframes APEAR {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.side .sq {
	width: 57px;
	height: 57px;
	border: 1px solid;
	margin: 1px;
	float: left;
	text-align: center;
	/* animation: APEAR 0.3s */
}



.sq-red {
	background: #ffd0d0;
}

.sq-blue {
	background: #c2c2ff;
}

.sq-green {
	background: #b0ffb0;
}

.sq-gray {
	background: #eaeaea;
}

.sq-orange {
	background: #ffb82f;
}

.sq-yellow {
	background: #ffff4d;
}


@keyframes SLIDE_RIGHT {
	0% {
		opacity: 1;
		transform: translateX(0px);
	}

	100% {
		opacity: 0;
		transform: translateX(30px);
	}
}

@keyframes SLIDE_LEFT {
	0% {
		opacity: 1;
		transform: translateX(0px);
	}

	100% {
		opacity: 0;
		transform: translateX(-30px);
	}
}

@keyframes SLIDE_UP {
	0% {
		opacity: 1;
		transform: translateX(0px);
	}

	100% {
		opacity: 0;
		transform: translateY(-30px);
	}
}

@keyframes SLIDE_DOWN {
	0% {
		opacity: 1;
		transform: translateX(0px);
	}

	100% {
		opacity: 0;
		transform: translateY(30px);
	}
}

@keyframes ROTATE_RIGHT {
	0% {
		transform: rotateZ(0);
	}

	100% {
		transform: rotateZ(90deg);
	}
}


@keyframes ROTATE_LEFT {
	0% {
		transform: rotateZ(0);
	}

	100% {
		transform: rotateZ(-90deg);
	}
}


.sq--animate-slide-rigth {
	animation: SLIDE_RIGHT 0.3s forwards;
}

.sq--animate-slide-left {
	animation: SLIDE_LEFT 0.3s forwards;
}

.sq--animate-slide-up {
	animation: SLIDE_UP 0.3s forwards;
}

.sq--animate-slide-down {
	animation: SLIDE_DOWN 0.3s forwards;
}

.sq--animate-rotate-right {
	animation: ROTATE_RIGHT 0.3s forwards;
}

.sq--animate-rotate-left {
	animation: ROTATE_LEFT 0.3s forwards;
}